* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100vh; /* Full viewport height */
  padding: 86px 86px; /* Add some horizontal padding */
  
  @media (max-width: 768px) {
    height: max-content;
  }

}

/* Each column style */
.contact-column2 {
  width: 100%;
  padding: 30px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.contact-column {
  display: flex;
  text-align: -webkit-right;
  padding: 40px;
  flex-direction: column;
  
  @media (max-width: 768px) {
    padding: 0;
  }

}
.contact-column h1 {
  font-size: 10rem;
  color: #333;
}

.contact-column p {
  font-size: 3rem;
  color: #555;
  margin: 10px 0;
  
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
    padding: 0 32px;
  }

  .contact-column {
    margin-bottom: 20px;
  }

  .contact-column h1 {
    font-size: 3rem;
  }

  .contact-column p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }

  .contact-column2 p:first-child {
    display: none;
  }

  
}

.contact-column2 a {
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: sans-serif;
  color: #555;
  font-weight: 499;
  font-size: 1.8rem;
  margin: 20px 10px;
  transition: color 0.3s;
  @media (max-width:756px) {
    margin: 10px 0;
    font-family: "EB Garamond", serif;
    font-weight: 399;
  }
}

.contact-column2 a svg {
  margin-right: 20px;
}

.contact-column2 a:hover {
  color: #000;
  text-decoration: underline;
}

.social-icons a {
  margin: 10px; /* Space between icons */
  margin-right: 5px;
}

.social-icons svg {
  margin-right: 10px; /* Space between the icon and text */
  font-size: 1.3rem; /* Adjust the icon size */
}

.froo {
  display: flex;
  margin: 20px 0;
  width: 430px;
  flex-direction: row;
}

.social-icons {
  display: flex;
  flex-direction: column;
  @media (max-width:756px) {
    display: none;
  }
}
